// ...
/*BS*/import { ActivatedRoute } from '@angular/router';/*BE*/

/*BS*/import { BookStoreService } from '../../shared/book-store.service';/*BE*/

@Component({ /* ... */ })
export class BookDetailsComponent {
  /*BS*/book?: Book;
  constructor(
    private service: BookStoreService,
    private route: ActivatedRoute,
  ) {
    const isbn = this.route.snapshot.paramMap.get('isbn')!;
    this.book = this.service.getSingle(isbn);
  }/*BE*/
}
