// ...
/*BS*/import { HomeComponent } from './home/home.component';/*BE*/

const routes: Routes = [
  /*BS*/{
    path: 'home',
    component: HomeComponent,
  }/*BE*/
];

@NgModule({ /* ... */ })
export class AppRoutingModule { }
