// ...

const routes: Routes = [
  /*BS*/{
    path: '',
    redirectTo: 'home',
    pathMatch: 'full'
  },/*BE*/
  {
    path: 'home',
    component: HomeComponent,
  }
];

@NgModule({ /* ... */ })
export class AppRoutingModule { }
