<nav>
  <a routerLink="/home"
    <!--BS-->routerLinkActive="active"
    ariaCurrentWhenActive="page"<!--BE-->>Home</a>
  <a routerLink="/books"
    <!--BS-->routerLinkActive="active"
    ariaCurrentWhenActive="page"<!--BE-->>Books</a>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
