<nav>
  <a routerLink="/home" <!--BS-->routerLinkActive="active"<!--BE-->>Home</a>
  <a routerLink="/books" <!--BS-->routerLinkActive="active"<!--BE-->>Books</a>
</nav>
<router-outlet></router-outlet>
